.promo_text_section {
  width: 50%;
  height: 684px;
  border-radius: 26px;
  background-color: #f5f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo_wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.promo_text_section h1 {
  font-weight: 600;
  font-size: 74px;
  line-height: 77px;
  text-transform: uppercase;
}

.promo_text_section p {
  line-height: 22px;
  width: 63%;
}

.promo_button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.promo_button_wrapper span {
  font-size: 14px;
  color: #898787;
  line-height: 16px;
}
